<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <body>
    <div class="container">
      <h1>Only registed user can use all the functions, do you want more?</h1>
      <p><a href="home">No thanks</a></p>
      <br>
      <form action="" method="post">
        <label><b>User Name</b>
        </label>
         <input type="text" placeholder="Username" name="username" value="{{request.form.username}}">
         <br><br>
         <label><b>Password</b>
         </label>
         <input type="password" placeholder="Password" name="password" value="{{request.form.password}}">
         <br><br>
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
