<p><a href="home">Back to home</a></p>
<p>UserID: {{ user_id }}</p>
<p>Sex:{{ sex }}</p>
<p>Age:{{ age }}</p>
<p>City:{{ city }}</p>
<p>Ethnicity:{{ ethnicity }}</p>
<p>Sexual Orientation:{{ sexual_orientation }}</p>
<p>Likes:{{ number_of_likes }}</p>
<p></p>
{% if overall%}
    <p>Overall Score:{{ overall }}</p>
{% endif %}
{% if appearance%}
    <p>Appearance Score::{{ appearance }}</p>
{% endif %}
{% if personality%}
    <p>Personality Score::{{ personality }}</p>
{% endif %}

<br>
{% if data%}
    <h2>Review</h2>
    {% for row in data %}
        <p>From {{ row[0] }} Relationship from {{ row[1] }} to {{ row[2] }}</p>
        <p>Overall experience score: {{ row[3] }}, appearance_score: {{ row[4] }}, personality_score: {{ row[5] }}</p>
        <p>Review:{{ row[6] }}</p>
        <p>Review time:{{ row[7] }}</p>
        <br>
    {% endfor %}
{% endif %}

<br>

{% if post %}
    <h2>Posts</h2>
    {% for row in post %}
        <p>Post:{{ row[1] }}</p>
        <p>Post Time:{{ row[2] }}</p>
        <input type="hidden" id="postnumber" value={{ row[0] }}>
        {% for row in comment %}
            <input type="hidden" id="c0" value={{ row[0] }}>
            <input type="hidden" id="c1" value="{{ row[1] }}">
            <input type="hidden" id="c2" value="{{ row[2] }}" >
            <input type="hidden" id="c3" value="{{ row[3] }}">
            <button onclick="myFunction()">See Comments</button>
            <p id="output1"></p>
            <p id="output2"></p>
            <p id="output3"></p>
            <script type = "text/javascript">
                function myFunction(){
                    var x = document.getElementById("postnumber").value;
                    var y0 = document.getElementById('c0').value;
                    var y1 = "Comment From: " + document.getElementById('c1').value;
                    var y2 = "Comment: "+ document.getElementById('c2').value;
                    var y3 = "Comment Time: "+document.getElementById('c3').value;
                    if(x==y0){
                        document.getElementById("output1").innerHTML = y1;
                        document.getElementById("output2").textContent = y2;
                        document.getElementById("output3").innerHTML = y3;
                    }
                }
            </script>
        {% endfor %}
        <br>
    {% endfor %}
{% endif %}

<br><br><br>
